/*home*/

body {
  font-family: 'Oswald', sans-serif;
  color: black;
}

.overlay {
  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
   opacity: 1;
 object-fit: cover;
  z-index: 1;
}

.portfolio {
z-index: 6;
}

.overlay-black {
  background-color: black;
  opacity: 20%;
}

.overlay-white {
  background-color: black;
  opacity: 30%;
}
.overlay-white2 {
  background-color: black;
  opacity: 40%;
  
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-out {
  animation-name: fade-out;
  opacity: 0;
  animation-duration: 2s;
}

.ring-background-image {
  background-image: url(Images/OneRingChaos.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.video-overlay {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
 object-fit: cover;
  z-index: 0;
}

.icon {
 
  width: 200px;
  height: 200px;
  z-index: 5;
  
}

.person-icon {
  fill: #A37C66;
}

.puzzle-icon {
  fill: #856650;
}

.gear-icon {
  fill: #675039;
}

.about-me{
  width: 100%;
}
.about-me-section {
  width: 33%;
  display: flex;
  justify-content: center;
  float: left;
}

.header {
  position: relative;
  background-image: url(Images/laptop_coffee_header.png);
  background-repeat: no-repeat;
  background-size: cover;
 height: 100vh;
 display: flex;
 flex-direction: column;
 color: white;
}

.header4 {
  position: relative;
  background-image: url(Images/self.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 height: 100vh;
 display: flex;
 flex-direction: column;
 color: white;
}

.titles {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
}

/*nav*/

.flex{
  display: flex;
}

.nav-vert {
 flex: none;
 margin-left: 40px;
}

.nav-vert ul {
display: flex;
flex-direction: column;
}

.work{
	flex: 1 1 0%;
}

nav , .nav-vert { 
  flex: none;
  z-index: 2;
}


nav ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-align: center;
  margin: 0;
  align-items: center;
}

nav ul li, .nav-vert ul li {
  padding: 10px;
  display: block;
}

nav ul li a{
  font-size: 2rem;
  text-decoration: none;
  margin: 30px;
  color: white;
}

 .nav-vert ul li a{
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: black;
}
.nav-vert ul li a:hover{
 
  color: gray;
}


.nav-vert ul{
  display: block;
  list-style-type: none;
 padding: 0%;
}


/* sections */



.section-image {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  align-self: center;
}

.section-icon{
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
  aspect-ratio: 2;
  z-index: 5;
}

.bold-text {
  font-size: 2rem;
  font-weight: bold;
}
.project-section {
  width: 30%;
 display: inline;
 margin: 10px;
 align-items: center;

}

.skills{
  align-items: center;
  list-style: none;
  text-align: center;
}

.icon-section {
  background-color: #BF9D8A;
  opacity: 90%;
  z-index: 4;
  border-radius: 20px;
  padding: 20px 32px;
}

.project-section p, .project-section h3 {
  text-align: center;
  z-index: 5;
}


.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*game pages*/

.header2 {
  position: relative;
  background-image: url(Images/laptop_coffee_header.png);
  background-repeat: no-repeat;
  background-size: cover;
 height: 50vh;
 display: flex;
 flex-direction: column;
 color: white;

}

.credits {
  font-size: 0.6rem;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 4rem;
}

h1 {
  
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
}

h3 {
 
  font-weight: normal;
  font-size: 2rem;
}


.center-text {
  text-align: center;
}

.work {
  width: 65%;
  display: inline;
  align-items: center;
  float: right;
  margin-right: 100px;
}

p {
  font-size: 18px;
}

.text-body{
padding-left: 300px;
padding-right: 300px;
}



.mini-heading{
  font-size: 20px;
}

.extra-info{
  padding: 10px;
  background-color: #BF9D8A;
border-radius: 10px;
font-style: italic;
color: white;
}


.header3 {
  position: relative;
  background-image: url(Images/blueprints.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 height: 100vh;
 display: flex;
 flex-direction: column;
}


.big-text{
  font-size: 3rem;
}

button {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background-color: white;
}

button:hover {
  background-color: black;
  color: aliceblue;
}
