/* Home Page */
body {
  font-family: "Arial", sans-serif;
  font-style: bold;
  background-color: #6D8FB2;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-grow: 0;
}

.hello {
  font-size: 150px;
  color: #dee0e3;
}

.brendon {
  font-weight: bolder;
  text-align: left;
  padding-left: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
  font-size: 70px;
  color: #dee0e3;
}



.sidebar {
   position: sticky;
   top: 0;
   z-index: 100;
  padding: 10px;
  text-align: center;
  margin-top: 5px
}

nav ul{
  float: right;
  list-style-type: none;
  text-align: center;
  padding-right: 15px;
  padding-top: 15%;
  padding-bottom: auto;
}

nav ul li{
  padding: 10px;
}

nav ul li a{
  font-size: 20px;
  text-decoration: none;
  color: #dee0e3;
}

.overlay-slide {
	position: relative;
}

.overlay-slide:hover .overlayText {
  top: 0;
	transition: all 0.2s ease-in;
}

.overlayText {
	position: absolute;
  top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
overflow: hidden;
    background-color: #021736;
    text-align:center;
    transition: all 0.2s ease-in;
}

.overlay-slide p {
    font-size: 30px;
    color: #dddddd;
}


.gameEntry {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
}

.secondaryImageContainer{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: auto;
  gap: 0px;
}

.pic1 {
  width: auto;
  height: 350px;
  flex-grow: 0;
}

.pic2 {
  width: auto;
  height: 175px;
}


/* portfolio page*/

.leftcolumn {
  float: left;
  width: 33%;
  padding: 2%;
}

.middleColumn {
  float: left;
  width: 33%;
  padding: 2%;
 
}

.rightcolumn {
  float: left;
  width: 33%;
  padding: 2%;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.gallImg {
  width: 100px;
  padding: 20px;
  height: 200px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* blog page */

.blogposts {
  align-self: center;
  width: 75%;
  margin: 10%;
  margin-top: 50px;
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* contact page */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #021736;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 130px;
}


.container {
  border-radius: 5px;
  color: #dee0e3;
  padding: 10px;
  width: 60%;
  display: block;
  margin: auto;
}

/* style sheet */

.style {
  margin-top: 100px;
}






